<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121563587146-8r3t29j0hldcn1bgllk8k6qd76aivdk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121563587146-8r3t29j0hldcn1bgllk8k6qd76aivdk5</string>
	<key>API_KEY</key>
	<string>AIzaSyDH3HvheqvuUVYcLSMGw_1dNQicCjXPzG4</string>
	<key>GCM_SENDER_ID</key>
	<string>121563587146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.sabanciuniv.cs310Week5App</string>
	<key>PROJECT_ID</key>
	<string>cs310-202003-firebase-ap-dfddd</string>
	<key>STORAGE_BUCKET</key>
	<string>cs310-202003-firebase-ap-dfddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121563587146:ios:1e8299779dafef49783cb3</string>
</dict>
</plist>